@import "compass/css3/background-size";

@import "variables";

* {
  line-height: 1.3;
}

h2 {
  font-weight: bold;
}
h2, h3 {
  color: $gray-4;
}

strong, q, blockquote {
  font-weight: bold;
}

slides > slide {
  color: $gray-4;

  blockquote {
    color: white;
    background: rgba(77,77,77,0.8);
    padding: 30px;
    margin-top: 190px;
    font-size: 60px;
    strong {
      color: #FFB152;
    }
    cite {
      display: block;
      text-align: right;
      font-size: 20px;
    }
  }

  &.build-inplace li,
  &.build-inplace li.to-build {
    display: none;
  }

  &.build-inplace li.build-current {
    display: block;
  }

  &.textonpanel {
    z-index: -3;
    color: white;

    strong {
      color: #FFB152;
    }

    h2,h3 {
      color: white;
    }
    hgroup {
      &:before {
        content: '';
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        width: -webkit-calc( 100% - 100px );
        height: -webkit-calc( 100% - 60px );
        top: 30px;
        left: 50px;
        border-radius: 5px;
        z-index: -1;
      }
    }
  }

  &.notransition, &.notransition + slide {
    -webkit-transition: none;
    transition: none;
  }
  &.opaque-bg {
    z-index: -3;
    &:after {
      content: '';
      background-color: rgb(255, 255, 255);
      opacity: 0.5;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -2;
    }
    &.op0:after {
      opacity: 1;
    }
    &.op1:after {
      opacity: 0.95;
    }
    &.op2:after {
      opacity: 0.9;
    }
    &.op3:after {
      opacity: 0.8;
    }
    &.op4:after {
      opacity: 0.7;
    }
    &.op5:after {
      opacity: 0.6;
    }
    &.op6:after {
      opacity: 0.5;
    }
    &.op7:after {
      opacity: 0.45;
    }
    &.op8:after {
      opacity: 0.4;
    }
    &.op9:after {
      opacity: 0.3;
    }
    &.op10:after {
      opacity: 0.2;
    }
    &.op11:after {
      opacity: 0.1;
    }
    &.op12:after {
      opacity: 0;
    }
  }

    
  &.center-bg {
    background-position: center;
  }

  &.title-slide {

    background-image: url(../../images/braziljs/lego_pieces.jpg);
    background-repeat: no-repeat;
    @include background-size(cover);

/*
    &:after {
      content: '';
      background: url(../../images/braziljs-logo.png) no-repeat 100% 100%;
      @include background-size(contain);
      position: absolute;
      bottom: $slide-top-bottom-padding + 40;
      right: $slide-top-bottom-padding;
      width: 100%;
      height: 140px;
    }
*/

    hgroup {
      background-color: rgba(255,255,255,0.7);
      padding: 30px;
      border-radius: 20px 0 0 20px;

      h1 {
        font-weight: bold;
        line-height: 1.1;
        color: black;
      }
      h2, p {
        color: $gray-4;
      }
      h2 {
        margin-top: 0.25em;
      }
      p {
        margin-top: 3em;
      }
    }
  }
  &.side-img {
    img {
      position: absolute;
      right: 50px;
      bottom: 100px;
      max-width: 30%;
      z-index: -2;
    }
    article {
      max-width: 65%;
    }
  }

  &.thank-you-slide p.disclaimer {
    margin-top: 5em;
    padding-left: 90px;
    font-size: 16pt; 
    background-image: url('../../images/catinabox.png'); 
    background-repeat: no-repeat; 
    background-position: left center; 
    background-size: auto 100%;
  }
}
